@import "./colors.module";

/*hamburger menu*/
.hamburger_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 28px;
  height: 28.7px;
  border-radius: 100px;
  padding: 10px;
  background-color: var(--navbar-background-color);
  transition: background-color 0.1s linear;
}
.line {
  background-color: var(--text-color);
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 10px;
}

.hamburger_menu:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.address_selector {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 100px;
  transition: background-color 0.1s linear;
}

/*address selector*/
.address_selector:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.icon {
  height: 25px;
  margin-right: 10px;
}

.address_right {
  p {
    font-family: $main-font;
    font-size: 0.8rem;
  }
}
.address_rbottom {
  font-weight: bold;
}

/*theme toggler*/
.themeToggle {
  position: relative;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  min-width: 55px;
  max-width: 55px;
  border: 2px solid var(--text-color);
  border-radius: 34px;
}

.themeToggle .themeToggle_background_slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark-blue;
  transition: 0.2s ease-in;
  border-radius: 34px;
}

.themeToggle input {
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 55px;
  height: 30px;
}

.themeToggle input:hover {
  cursor: pointer;
}

.themeToggle .themeToggle_background_slider::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: white;
  transition: 0.2s ease-in;
  border-radius: 50px;
}

.themeToggle input:checked + .themeToggle_background_slider {
  background-color: orangered;
}

.themeToggle input:checked + .themeToggle_background_slider::before {
  transform: translateX(25px);
}

/* page selection*/
.page_action_container {
  width: 15rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px 30px;
  color: var(--text-color);
  font-size: 20px;
  text-decoration: underline;
  background-color: rgba(176, 216, 234, 0.4);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  button {
    background-color: transparent;
    color: var(--tertiary-color);
  }

  button:hover {
    cursor: pointer;
  }
}

@media (min-width: 100px) {
  .address_left {
    display: initial;
  }
  .address_right {
    display: none;
  }
}

@media (min-width: 640px) {
}

@media (min-width: 1008px) {
  .address_right {
    display: initial;
  }
}

@media (min-width: 1366px) {
}
