@import "./colors.module.scss";

.navbar_supportBtn {
  font-size: 0.75rem;
  font-weight: bold;
  width: fit-content;
  white-space: nowrap;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--background-color) !important;
  background-color: var(--navbar-button-color);
  padding: 5px 15px;
  border-radius: 34px;
  transition: 0.1s linear;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navbar_supportBtn:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.nav_childsupportBtn {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  text-align: center;
}

.icon {
  height: 20px;
}

/*notif , country button*/

.notificationBtn,
.countryBtn,
.roleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid var(--text-color);
  transition: background-color 0.1s linear;
  min-width: 35px;
  height: 35px;
}

.notificationBtn:hover,
.countryBtn:hover,
.roleBtn:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

/*return order btn*/

.returnOrderBtn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  transition: background-color 0.1s linear;
  font-family: $main-font;
  font-size: 0.9rem;
  height: 45px;
}

.returnOrderBtn_bottom {
  font-weight: bold;
}

.returnOrderBtn:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

/*cart button*/
.cartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 40px;
  border-radius: 34px;
}

.cartBtn:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

/*auth button*/

.authBtn,
.authBtn_login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 330px;
  height: 44px;
  font-family: $main-font;
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px;
}

.authBtn {
  border: 1px solid $brownish-orange;
  background-color: $light-orange;
  color: black;
}

.authBtn:hover {
  cursor: pointer;
  border: 1px solid var(--secondary-color-dark);
  color: var(--navbar-button-color) !important;
}

.authBtn_login {
  background-color: var(--primary-light-color);
  border: 1px solid gray;
  color: var(--text-color);
}

.authBtn_login:hover {
  cursor: pointer;
  color: rgb(75, 137, 236) !important;
  border: 0.8px solid rgb(75, 137, 236);
  box-shadow: 0 0 2px 0.2px gray;
}

/* Alert Button*/

.alertBtn {
  height: 40px;
  width: 50px;
  background-color: var(--tertiary-color);

  color: white;
  margin: 10px;
  margin-right: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.alertBtn:hover {
  cursor: pointer;
}

/* modal buttons */
.modalBtn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--tertiary-color) !important;
  color: white;
  margin: 0 1rem;
}

.modalBtn:hover {
  background-color: var(--hover-color) !important;
  cursor: pointer;
}

.modalBtn_ok {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  color: #800040;
}

.modalBtn_ok:hover {
  cursor: pointer;
  background-color: #f8dae9;
}

.balanceBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--text-color) !important;
  padding: 2px;
}

.balanceBtn:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  transition: 0.3s ease;
}

@media (min-width: 100px) {
  .nav_childsupportBtn {
    p {
      display: none;
    }
  }

  .alertBtn {
    margin: 0px;
    margin-top: 10px;
  }

  .returnOrderBtn,
  .returnOrderBtn_bottom {
    display: none;
  }

  .notificationBtn {
    display: none;
  }

  .balanceBtn {
    display: none;
  }
}

@media (min-width: 640px) {
  .nav_childsupportBtn {
    p {
      display: initial;
    }
  }

  .alertBtn {
    margin: 10px;
  }

  .returnOrderBtn,
  .returnOrderBtn_bottom {
    display: flex;
    font-size: 0.9rem;
  }

  .notificationBtn {
    display: flex;
  }
  .balanceBtn {
    display: none;
  }
}

@media (min-width: 1008px) {
  .balanceBtn {
    display: flex;
    flex-direction: row;
  }
}
