/*auth footer*/
.auth_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  width: 100%;
  height: 80px;
  margin-top: 10vh;
  bottom: 0;
  background-color: var(--footer-auth-color);
  color: var(--text-color);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  // justify-content: center;
  background-color: var(--footer-color);
  color: white !important;
  width: 100%;
  height: 400px;
}

.footerContainer a {
  color: white !important;
  text-decoration: none;
  font-size: 11px;
}

.footerContainer p {
  font-weight: bold;
  padding-bottom: 10px;
}

.footer_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 20px;
}

.customer_service,
.my_account,
.company_information,
.tools_resources,
.shop_our_brand {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerContainer a:hover {
  text-decoration: underline;
}

.footer_bottom {
  background-color: var(--primary-color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer_bottom p,
.footer_bottom a {
  color: var(--text-color) !important;
  text-decoration: none;
  font-size: 11px;
}

.foot_bottom_left {
  width: 40rem;
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
}
.foot_bottom_right {
  display: flex;
  width: 21rem;
  gap: 10px;
}

.icons {
  height: 25px;
  object-fit: scale-down;
  color: var(--background-color);
  background-color: var(--secondary-color-light);
  border-radius: 50%;
}
