/* Default Styling */

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

:root[data-theme="light"] {
  --background-color: #ebebeb;
  --navbar-background-color: white;
  --navbar-button-color: #1e44b6;
  --hover-color: #dcdcdc;

  --primary-color-light: #f4f5f7;
  --primary-color-dark: #707270;

  --secondary-color-light: #1e44b6;
  --secondary-color-dark: #0a185c;

  --tertiary-color-light: #fba33c;
  --tertiary-color-dark: #f06c00;

  --text-color: black;

  --footer-color: #1e44b6;

  --white: white;
  --light-gray: #f4f5f7;
  --dark-gray: #707270;
  --light-purplish-blue: #e8e6fb;
}

:root[data-theme="dark"] {
  --background-color: #121212;
  --navbar-background-color: #050c2e;
  --navbar-button-color: #9ebaf2;
  --hover-color: #707270;

  --primary-color-light: #363636;
  --primary-color-dark: #121212;

  --secondary-color-light: #ebebeb;
  --secondary-color-dark: #ebebeb;

  --tertiary-color-light: #fba33c;
  --tertiary-color-dark: #c8611c;

  --text-color: white;

  --footer-color: #121212;

  --white: white;
  --light-gray: #f4f5f7;
  --dark-gray: #707270;
  --light-purplish-blue: #e8e6fb;
}

body {
  background-color: var(--primary-color-light);
}
