@import "./colors.module";

/*Search Input*/
.searchfield_container {
  display: flex;
  align-items: center;
  position: relative;
  width: 30%;
  min-width: 100px;
  height: 45px;
}

.searchfield_textinput {
  height: 20px;
  width: 100%;
  border-radius: 100px;
  padding: 10px 15px;
  border: none;
  background-color: $light-purplish-blue;
}

.searchfield_textinput:focus {
  outline: 2px solid var(--secondary-color-light);
}

.searchfieldBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-button-color);
  height: 40px;
  width: 60px;
  border: none;
  border-radius: 100px;
  position: absolute;
  right: 0;
  transition: all 0.1s linear;
}

.icon {
  color: var(--navbar-background-color);
  height: 17px;
  width: auto;
}
.searchfieldBtn:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

/*auth input field*/
.authField input {
  color: var(--text-color);
  background-color: var(--primary-color-light);
  font-size: 15px;
  font-family: $main-font;
  resize: none;
  padding: 0px 5px 0px 10px;
  border: 0.8px solid lightgray;
  outline: none;
  border-radius: 2px;
}

.authField input:focus {
  border: 0.8px solid rgb(75, 137, 236);
  box-shadow: 0 0 2px 0.2px gray;
}

.authField input::-webkit-inner-spin-button,
.authField input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.authField {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.authField label {
  padding-left: 10px;
}
