@import "./colors.module.scss";

.navbar_container {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 4;
  background-color: var(--navbar-background-color);
  color: var(--text-color);
  margin: (heigth);
}

.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--navbar-background-color);
  padding: 0 15px;
  gap: 4px;
}

.nav_bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 15px 10px;
}

.nav_bottom_right {
  display: flex;
  padding-left: 10px;
  gap: 15px;
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 100px;
  transition: background-color 0.1s linear;
  min-width: 130px;
  height: 45px;
  color: black;
  color: var(--text-color) !important;
}

.loginBtn_icon {
  height: 25px;
  margin-right: 10px;
}

.loginBtn_right p {
  font-family: $main-font;
  font-size: 0.8rem;
}

.loginBtn_bottom {
  font-weight: bold;
}

.loginBtn:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.navbar_link,
.navbar_link_red {
  font-weight: bold;
  font-size: 13px;
}

.navbar_link_business {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  font-size: 13px;
}

.business_left {
  color: var(--navbar-button-color);
}

.business_right {
  color: var(--text-color);
}

.navbar_link_red {
  color: red;
}

@media (min-width: 100px) {
  .data_grid_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .manage_top_action {
    flex-direction: column;
  }
}

@media (min-width: 640px) {
  .data_grid_container {
    grid-template-columns: repeat(2, 2fr);
  }

  .manage_top_action {
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: 1008px) {
  .data_grid_container {
    grid-template-columns: repeat(3, 3fr);
  }
}

@media (min-width: 1366px) {
  .data_grid_container {
    grid-template-columns: repeat(4, 4fr);
  }
}
