.admin_select_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 10px;
  //   background-color: var(--category-transparant-color);
  background: linear-gradient(
    to right,
    white -10%,
    lightgray 5%,
    gray 60%,
    darkgray 90%
  );
}

.selection_wrapper {
  background-color: var(--tertiary-color) !important;
  padding: 15px;
  text-decoration: none;
  color: var(--background-color);
  border-radius: 10px 120px / 120px;
  box-shadow: 10px 10px var(--category-transparant-color);
}

.selection_wrapper:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  transition: 1s ease;
}
