@import "./colors.module.scss";

.slider_nav_container {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: hidden;
  white-space: nowrap;
}

.slider_nav_container:hover {
  overflow-x: auto;
}

.slider_nav_container::-webkit-scrollbar {
  height: 4px;
  border-radius: 10px;
}

.slider_nav_container::-webkit-scrollbar-track {
  background: gray;
  border-radius: 10px;
}

.slider_nav_container::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 100px;
}
