/* Home page categories slider*/
.category_outer_container {
  position: absolute;
  z-index: 3;
  height: 70vh;
  margin-left: 2vw;
  width: 19vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  background: linear-gradient(
    to bottom,
    var(--category-color) 0%,
    var(--category-color) 10%,
    var(--category-color) 50%,
    var(--category-color) 75%,
    var(--category-transparant-color) 95%,
    var(--category-transparant-color) 100%
  );
}

.category_container {
  width: 92%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.category_left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.category_container p,
.title {
  font-size: 16px;
  color: var(--text-color) !important;
}

.category_container:hover {
  background-color: rgba(119, 119, 119, 0.305);
  color: var(--secondary-color-light) !important;

  .title {
    color: var(--secondary-color-light) !important;
  }
}

.arrow {
  color: var(--auth-link-color);
  width: 15px;
  height: 15px;
}

/* Data visualization*/
.datavisual_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: var(--text-color);
  width: 100%;

  .chart_container {
    padding: 20px;
  }
}

/* Manage Page Container*/
.manage_container {
  width: 100%;
  height: auto;
}

.filter_container {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* User Grid*/

.data_grid_container {
  height: auto;
  padding: 20px;
  display: grid;
  row-gap: 2rem;
  column-gap: 9.3%;
  justify-content: center;
}

/* User Item / Shop Item */
.user_container {
  padding: 20px;
  background-color: var(--category-color);
  color: var(--text-color) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
  border-radius: 10px;
}

.shop_outer_container {
  padding: 20px 8px;
  width: 14rem;
  background-color: var(--navbar-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 10px 1px rgba(40, 37, 37, 0.672);
}

.shop_container {
  background-color: unset;
  color: var(--text-color) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
  border-radius: 10px;
}

.user_action_container,
.shop_action_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.user_action_container button,
.shop_action_container button {
  height: 40px;
  width: 80px;
}

.user_action_container button:hover,
.shop_action_container button:hover {
  cursor: pointer;
}

.user_action_container .banBtn,
.shop_action_container .banBtn {
  background-color: rgb(87, 134, 209) !important;
}

.user_action_container .banBtn:hover,
.shop_action_container .banBtn:hover {
  background-color: rgba(87, 134, 209, 0.502) !important;
}

.user_action_container .unbanBtn,
.shop_action_container .unbanBtn {
  background-color: rgb(251, 179, 53) !important;
}
.user_action_container .unbanBtn:hover,
.shop_action_container .unbanBtn:hover {
  background-color: rgba(251, 178, 53, 0.452) !important;
}

.user_action_container .disabledBtn,
.user_action_container .disabledBtn {
  background-color: rgba(145, 193, 236, 0.313);
}

.user_action_container .disabledBtn:hover,
.user_action_container .disabledBtn:hover {
  cursor: not-allowed;
}

.manage_top_action {
  display: flex;
  align-items: center;
}

/* Add Voucher*/
.add_voucher_outercontainer {
  height: 60vh;
  padding: 20px;
  padding-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
  }

  .add_voucher_container {
    width: 20rem;
    display: flex;
    flex-direction: column;
  }

  label {
    text-align: center;
    font-size: 18px;
    color: var(--text-color);
  }

  .add_voucher_input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

    input {
      padding: 10px;
      border: 1px solid black;
    }

    textarea {
      resize: none;
      padding: 10px;
      height: 40px;
      border: 1px solid black;
    }
  }

  button {
    align-self: center;
  }
}

/* Backdrop */
.backdrop {
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Modal */
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  height: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.modal_form_container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-size: 20px;
    font-weight: bold;
  }

  input,
  textarea {
    border: 0.2px solid rgb(207, 125, 38);
    padding: 4px 10px;
    outline: none;
  }

  input {
    height: 2rem;
  }
  textarea {
    height: 4rem;
    resize: none;
  }
}

/* Customer Review Table*/
.customer_review_container {
  width: auto;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cr_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;

  tr,
  th,
  td {
    border: 1px solid black;
  }
  td {
    padding: 5px;
  }
}

@media (min-width: 100px) {
  .data_grid_container {
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .manage_top_action {
    flex-direction: column;
  }

  .filter_container {
    width: 15rem;
  }

  .category_container,
  .category_outer_container {
    display: none;
  }

  .modal {
    width: 20rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .datavisual_container {
    flex-direction: column;
  }
}

@media (min-width: 640px) {
  .data_grid_container {
    grid-template-columns: repeat(2, 2fr);
  }

  .manage_top_action {
    justify-content: space-between;
    flex-direction: row;
  }

  .filter_container {
    width: 18rem;
  }

  .category_container,
  .category_outer_container {
    display: flex;
  }

  .modal {
    width: 30rem;
    left: calc(50% - 15rem);
    transform: unset;
  }
}

@media (min-width: 1008px) {
  .data_grid_container {
    grid-template-columns: repeat(3, 3fr);
  }
}

@media (min-width: 1366px) {
  .data_grid_container {
    grid-template-columns: repeat(4, 4fr);
  }

  .datavisual_container {
    flex-direction: row;
  }
}
