/* Home page categories slider*/
.category_outer_container {
  position: absolute;
  z-index: 3;
  height: 70vh;
  margin-left: 2vw;
  width: 19vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  background: linear-gradient(
    to bottom,
    var(--category-color) 0%,
    var(--category-color) 10%,
    var(--category-color) 50%,
    var(--category-color) 75%,
    var(--category-transparant-color) 95%,
    var(--category-transparant-color) 100%
  );
}

.category_container {
  width: 92%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.category_left {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.category_container p,
.title {
  font-size: 16px;
  color: var(--text-color) !important;
}

.category_container:hover {
  background-color: rgba(119, 119, 119, 0.305);
  color: var(--secondary-color-light) !important;

  .title {
    color: var(--secondary-color-light) !important;
  }
}

.arrow {
  color: var(--auth-link-color);
  width: 15px;
  height: 15px;
}

/* Data visualization*/
.datavisual_container {
  height: 26vh;
  padding: 20px 10px;
  color: var(--text-color);
}

/* Manage User Page Container*/
.mu_container {
  width: 100%;
  height: 100vh;
}

/* User Grid*/

.user_grid_container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 18%);
  row-gap: 9.3%;
  column-gap: 9.3%;
}

/* User Item*/
.user_container {
  padding: 20px;
  background-color: var(--category-color) !important;
}
